.fxt-template-layout34 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.background {
  background-attachment: fixed;
  background-image: url(./img/Bg.jpg);
}
.fxt-template-layout34 .fxt-column-wrap {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.fxt-template-layout34 .fxt-form {
  margin-top: 10px;
}
.fxt-template-layout34 .fxt-form .form-group {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.fxt-template-layout34 .fxt-form .form-control {
  border-radius: 10px;
  background-color: #fff;
  /* min-height: 60px; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #b6b6b6;
  padding: 18px 20px;
  color: #111;
}
.form-control:not(select) {
  -webkit-appearance: none;
  appearance: none;
}
.form-control {
  border-radius: 5px;
  box-shadow: none;
  /* border-color: #86a4c3; */
  height: auto;
}
form p:last-child {
  margin-bottom: 0;
}
.fxt-template-layout34 .fxt-switcher-description2 .fxt-switcher-text {
  color: #b1b1b2;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout34 .fxt-btn-fill {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 10px;
  background-color: #0078e9;
  padding: 18px 36px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.inputsize {
  font-size: 13px;
}
.sign {
  font-size: 16px;
  text-align: initial;
  color: #3b3b3b;
}
.fxt-template-layout34 .fxt-switcher-description3 {
  text-align: center;
  font-size: 16px;
  color: #646464;
  margin-bottom: 10px;
}
.fxt-template-layout34 .fxt-switcher-description31 {
  text-align: center;
  font-size: 12px;
  color: #3d3e3e;
  margin-bottom: 10px;
  background-color: #dae7f3;
  padding: 15px;
  border-radius: 8px;
}
.text-right {
  text-align: right;
}
.login {
  color: #0078e9;
  float: right;
  font-size: 13px;
  padding-top: 5px;
}
.invi {
  background-color: #dae7f3;
  padding: 15px;
  font-size: 12px;
  border-radius: 8px;
  color: #3d3e3e;
}
